@font-face {
   font-family: 'CookieAndMilkItalic';
   src: url('../../police/cookies&milk-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'CookieAndMilkItalic';
   src: url('../../police/cookies&milk-Italic.ttf') format('truetype');
   font-weight: bold;
  font-style: normal;
}
@font-face {
   font-family: 'CookieAndMilkItalic';
   src: url('../../police/cookies&milk-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;;
}
@font-face {
   font-family: 'CookieAndMilkItalic';
   src: url('../../police/cookies&milk-Italic.ttf') format('truetype');
   font-weight: bold;;
   font-style: italic;
}
@font-face {
   font-family: 'CookieAndMilk';
   src: url('../../police/cookies&milk-regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'CookieAndMilk';
   src: url('../../police/cookies&milk-regular.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'CookieAndMilk';
   src: url('../../police/cookies&milk-regular.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'CookieAndMilk';
   src: url('../../police/cookies&milk-regular.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
}

img.logo_img {
  max-height: 200px;
  width:45%;
  margin-top: 15px;
  margin-bottom: 30px;
}

body {
  font-family: 'Bookman Old Style';
  font-size: 12pt;
  text-align: justify;
}

header {
    width: 85%;
    margin: auto;
}

h1 {
  font-family: 'CookieAndMilk';
  text-align: center;
  font-size: 50pt;
  width: 100%;
}

h2 {
  font-family: 'CookieAndMilk';
  font-size: 25pt;
  line-height: 32pt;
  width: 100%;
}

h3 {
  font-family: 'CookieAndMilk';
  font-style: italic;
  font-size: 20pt;
  width: 100%;
}

.titre-home {
  font-family: 'CookieAndMilk';
  font-size: 21pt;
  clear: both;
}

a.link_home:hover {
  margin:auto;
  text-decoration: underline;
}

.footer::before{
  content:'';
  min-height:20px;
  display:block;
  clear:both;
}

.footer {
  font-family: 'CookieAndMilk';
  font-size: 17pt;
}

.footer-cookie {
  font-family: 'CookieAndMilk';
  font-size: 15pt;
}

div.recette .titre {
  font-size: 60pt;
  font-family: 'CookieAndMilk';
  margin-top: 0.5em;
  /*text-shadow: 1px 1px rgb(112, 132, 112), 0px -1px rgb(112, 132, 112), -1px 0px rgb(112, 132, 112), 1px 0px rgb(112, 132, 112), 0px 1px rgb(112, 132, 112), -1px -1px rgb(112, 132, 112), 1px -1px rgb(112, 132, 112), -1px 1px rgb(112, 132, 112);
  color: #e561e5;*/
}

div.recette h3.sousTitre {
  font-size: 32pt;
  font-family: 'CookieAndMilk';
  padding: 1em 0 0.5em;
}

div.recette {
  margin-top: 25px;
}

img {
  width: 100%;
}

img.ingredientPicture {
  max-width: 50%;
  float: right;
  position: relative;
  top: 40px;
}

div.recette .secondaryPicture {
  width: 49%;
  float: left;
  margin: 20px 0 40px;
}
div div.secondaryPicture:first-child {
  margin-right:2%;
}

div.realisation {
  margin-bottom: 30px;
}

div.realisation p, div.ilEtaitUneFois p {
  white-space: pre-wrap;
}

div.secondaryPicture img {
  max-width: 100%;
}
.secondaryPicture::after {
  float: none;
}

div.form-group {
  margin-top: 25px;
}

div.cs-image-h {
  margin-top: 25px;
  margin-bottom: 25px;
}

div.cs-commentaires {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb25 {
  margin-bottom: 25px;
}

.mt100 {
  margin-top: 100px;
}

.mt50 {
  margin-top: 50px;
}

.mt25 {
  margin-top: 25px;
}

.bandeau{
  font-family : 'CookieAndMilk';
  text-align: center;
  line-height: 55px;
  width: 100%;
  height: 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
}

.bandeau ul {
  font-size: 20pt;
}

.bandeau ul {
  list-style: none;
  width:100%;
}

.bandeau ul li {
  float:left;
  width: 16%;
}

a:link{
  color:black;
  background-color:transparent;
  text-decoration:none;
}

a:visited{
  color:black;
  background-color:transparent;
  text-decoration:none;
}

a:hover{
  color:black;
  background-color:transparent;
  text-decoration:none
}

a:active{
  color:black;
  background-color:transparent;
  text-decoration:none;
}

.link_home:hover img {
  opacity: 0.75
}

.link_home:hover p{
  text-decoration: underline;
}

.bandeau li:hover{
  text-decoration: underline;
}

a.image_link img:hover {
  opacity: 0.75
}

ul.ingredient {
  list-style: none;
  padding-left: 5%;
}

.no-padding {
    padding-right:0;
    padding-left:0;
}

div.feed {
  display: flex;
  margin: 20px 0;
}

div.feed span {
  margin: 0 5px;
}

div.index {
  margin-top: 40px;
}

div.index {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

div.index > * {
  margin-left: 30%;
}
