<div>
  <h1>A propos</h1>
  <br>
  <div class="about">
    <p>Bienvenue sur A Cookie Story !</p>
    <p>
      Ce blog est l'histoire d'une gourmande avec du temps libre... et des envies de sucré pour le combler !
    </p>
    <p>
      Cette gourmande, c'est moi, Sasha ! Je suis tombée dans la patisserie quand j'étais petite, en voyant faire ma maman et mes mamies
      (et même un peu mon papa). Moi, je m'y suis mise plus tard, en préparant des cookies pour les fêtes entre copines ou les
      ventes de gâteaux à l'école. J'ai eu envie de m'y mettre plus "sérieusement" et j'ai voulu créer ce blog pour m'accompagner.
      Il me permet ainsi de partager mes aventures et mes progrès avec ma famille et mes amis. Mais tous les petits cookies sont les bienvenus pour
      s'améliorer avec moi et échanger trucs et astuces ;)
    </p>
    <p>
      Bonne visite et bonne dégustation !
    </p>
    <br>
      <img class="about" alt="Photo de profil"src="images/test.jpg"></img>
    <p>
      Fiche Descriptive :
      <ul>
        <li>Mes desserts préférés : le tiramisu de ma maman et les inimitables crêpes de ma mamie</li>
        <li>Le dessert que je fais tout le temps : les cookies (duh !)</li>
        <li>Ma faiblesse : le chocolat</li>
      </ul>
    </p>
  </div>
</div>
