<div class="text-center">
  <a class="btn btn-default" ng-click="newRecette()">Nouvelle Recette</a>
  <a class="btn btn-default" data-toggle="collapse" data-target="#modifRecette-collapse">Gérer mes Recette</a>
  <a class="btn btn-default" data-toggle="collapse" data-target="#nveauTag-collapse">Gérer mes Tags</a>
</div>

<br>

<div class="collapse indent" id="modifRecette-collapse">
  <div ng-repeat="recette in recettes | orderBy:'titre'">
    {{recette.titre}}
    <a class="glyphicon glyphicon-pencil" ng-click="modifierRecette(recette)"></a>
    <a class="glyphicon glyphicon-trash" ng-click="deleteRecette(recette)"></a>
  </div>
</div>

<div class="collapse indent" id="nveauTag-collapse">
  <div ng-repeat="tag in tags | orderBy:'nom'">
    {{tag.nom}}
    <a class="glyphicon glyphicon-trash" ng-click="deleteTag(tag)"></a>
  </div>
  <form name="form" ng-submit="addTag(contenuText)" >
    <div class="form-group">
      <label>
        Saisir le nom du tag :
        <input class="form-control" type="text" name="contenu" ng-model="contenuText"></input>
      </label>
    </div>
    <button type="submit" class="btn btn-default">Ajouter le tag</button>
  </form>
</div>
