<div class="col-md-8 col-md-offset-2">
<div class="text-center">
  <a class="btn btn-default" ng-click="newRecette()">Nouvelle Recette</a>
  <a class="btn btn-default" data-toggle="collapse" data-target="#modifRecette-collapse">Gérer mes Recette</a>
  <a class="btn btn-default" data-toggle="collapse" data-target="#nveauTag-collapse">Gérer mes Tags</a>
</div>

<br>

<div class="collapse indent" id="modifRecette-collapse">
  <div ng-repeat="recette in recettes | orderBy:'titre'">
    {{recette.titre}}
    <a class="glyphicon glyphicon-pencil" ng-click="modifierRecette(recette)"></a>
    <a class="glyphicon glyphicon-trash" ng-click="deleteRecette(recette)"></a>
  </div>
</div>

<div class="collapse indent" id="nveauTag-collapse">
  <div ng-repeat="tag in tags | orderBy:'nom'">
    {{tag.nom}}
    <a class="glyphicon glyphicon-trash" ng-click="deleteTag(tag)"></a>
  </div>
  <form name="form" ng-submit="addTag(contenuText)" >
    <div class="form-group">
      <label>
        Saisir le nom du nouveau tag :
        <input class="form-control" type="text" ng-model="tag.nom"></input>
      </label>
      <div class="form-group">
        <label>
          Choisir la photo du nouveau tag :
          <input type = "file" ngf-select name="file" ng-model="picFile" accept="image/*" ngf-max-size="2MB"></input>
          <button type="button" ng-click="uploadPic(picFile)" class="btn btn-default">Upload</button>
        </label>
      </div>
    </div>
    <a class="btn btn-default" ng-click="saveTag()">Enregistrer le tag</a>
  </form>
</div>
</div>
